! Enable secret and local admin user - corresponds to DC2e*1234!

enable secret 9 $9$RP6u8XQHWvQ9Yk$THTbSO8Rrxo.UQGFJOvYC.egnTXk/vHzHOd/SJaE54.

username admin privilege 15 secret 9 $9$RP6u8XQHWvQ9Yk$THTbSO8Rrxo.UQGFJOvYC.egnTXk/vHzHOd/SJaE54.