! IPsec transform-set + IPsec profile

crypto ipsec transform-set DVR_DMVPN_Transform-Set esp-aes 256 esp-sha256-hmac
 mode tunnel

crypto ipsec profile DVR_DMVPN_Enrol_IPsec
 set transform-set DVR_DMVPN_Transform-Set
 set pfs group14
 set ikev2-profile DVR_DMVPN_Enrol-Profile