! Login banner
banner login &
*   UNAUTHORISED ACCESS TO THIS DEVICE IS PROHIBITED                         *  
*   Only authorised users are entitled to connect and/or login to this       *
*   system. ... (banner content unchanged)
&

! Exec banner
banner exec &
*   You have connected to a live platform. Ensure all changes are            *
*   Planned and authorised.                                                  *
&
*

! MOTD banner
banner motd &
*   There are no planned system outages                                      *
&