{# === Combined preview of all DRV PRE-CERT blocks === #}

{% include "dvr/precert/00-platform.j2" %}
{% include "dvr/precert/01-hostname.j2" %}
{% include "dvr/precert/02-vrfs.j2" %}
{% include "dvr/precert/03-aaa.j2" %}
{% include "dvr/precert/04-dns-hosts.j2" %}
{% include "dvr/precert/05-dhcp.j2" %}
{% include "dvr/precert/06-ipv6-routing.j2" %}
{% include "dvr/precert/07-mpls.j2" %}
{% include "dvr/precert/08-spanning-tree.j2" %}
{% include "dvr/precert/09-users.j2" %}
{% include "dvr/precert/10-redundancy.j2" %}
{% include "dvr/precert/11-crypto-ikev2.j2" %}
{% include "dvr/precert/12-crypto-ipsec.j2" %}
{% include "dvr/precert/13-tunnel9999.j2" %}
{% include "dvr/precert/14-loopback-ntp.j2" %}
{% include "dvr/precert/15-interfaces-core.j2" %}
{% include "dvr/precert/16-bgp.j2" %}
{% include "dvr/precert/17-http-dns.j2" %}
{% include "dvr/precert/18-mgcp.j2" %}
{% include "dvr/precert/19-ssh-security.j2" %}
{% include "dvr/precert/20-rsa-keygen.j2" %}
{% include "dvr/precert/21-banners.j2" %}
{% include "dvr/precert/22-security-services.j2" %}
{% include "dvr/precert/23-bootp-srcroute.j2" %}
{% include "dvr/precert/24-logging.j2" %}
{% include "dvr/precert/25-lines.j2" %}
{% include "dvr/precert/26-pki-enrol.j2" %}