{# === Combined preview of all POST-CERT blocks === #}

{% include "dvr/postcert/00-ikev2_profile.j2" %}
{% include "dvr/postcert/01-ipsec_transform.j2" %}
{% include "dvr/postcert/02-ipsec_profile.j2" %}
{% include "dvr/postcert/03-tunnel_interface.j2" %}
{% include "dvr/postcert/04-bgp_base.j2" %}
{% include "dvr/postcert/05-bgp_address_families.j2" %}
{% include "dvr/postcert/06-dns_and_ipv6_routes.j2" %}