{# === Combined preview of all OBR PRE-CERT blocks === #}

{% include "obr/precert/00-init-identity.j2" %}                  
{% include "obr/precert/01-vrf-definitions.j2" %}
{% include "obr/precert/02-aaa-domain.j2" %}
{% include "obr/precert/03-dhcp-services.j2" %}
{% include "obr/precert/04-routing-globals.j2" %}
{% include "obr/precert/05-interfaces-physical.j2" %} 
{% include "obr/precert/06-vlans-svi.j2" %} 
{% include "obr/precert/07-routing-ospfv3.j2" %} 
{% include "obr/precert/08-ip-prefix-lists.j2" %} 
{% include "obr/precert/09-http-services.j2" %} 
{% include "obr/precert/10-ssh-ntp.j2" %}
{% include "obr/precert/11-crypto-ikev2.j2" %}
{% include "obr/precert/12-crypto-ipsec.j2" %}
{% include "obr/precert/13-tunnel-dmvpn.j2" %}
{% include "obr/precert/14-bgp-routing.j2" %}
{% include "obr/precert/15-banners.j2" %}
{% include "obr/precert/16-system-hardening.j2" %}
{% include "obr/precert/17-logging.j2" %}
{% include "obr/precert/18-line-configs.j2" %}
{% include "obr/precert/19-pki-enrollment.j2" %}